header 
    background-color: #fff
    position: fixed
    top: 0
    left: 0
    width: 100%

    .header-wrapper
        display: flex
        justify-content:  space-between
        align-items: center
        &:hover
            background-color: yellow

        a
            img
                height:30px

        nav
            padding: 30px

            ul
                display: flex
                list-style-type: none
                align-items: center
                padding: 0
                margin 0

                li
                    margin-left: 40px

                    a
                        text-decoration: none 
                        border:1px solid red
                        align-items: center
                        border-style: none
                        color: brandBlack
                        font-size: 16px
                        list-style: none
                        padding: 10px


                


    @media screen and (max-width :1000px)
        &
            background-color: red


@media screen and (max-width :1000px) {
    header .header-wrapper {
        background-color: red
    }
}




