*, *::before, *:*::after
    box-sizing: border-box

// *
//     @::before, &::after
//         box-sizing: border-box

body
    margin: 0
    background-color: blue
    font-family:  'Tahoma'

    .container
        max-width: 1200px
        padding: 0 15px
        margin: 0 auto
